{% embed '@%theme_prefix%-pages/page/_page--master.twig' %}

  {% block pageTabs %}
  {% endblock %}

  {% block pageContent %}
  <div class="user-box user-box--password">

    <div class="user-box__middle user-box__middle--password">
      <h2 class="page-title hide">{{ title }}</h2>
      {{ page.content }}

      <ul class="user-box__links">
        <li><a class="link--login" href="{{ path('user.login') }}">{{ 'Login'|t }}</a></li>

        {# <li><a class="link--register" href="{{ path('user.register') }}">{{ 'Register a new account'|t }}</a></li> #}
      </ul>
    </div>

    <div class="user-box__bottom user-box__bottom--password">
      <a class="link--back" href="{{ url('<front>') }}">
        {{ 'Back'|t }} {# {{ site_name }} #}
      </a>
    </div>
  </div>
  {% endblock %}

{% endembed %}
